    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(event) {
        event.dataTransfer.setData("text", event.target.id);
    }

    function dropLines(ev) {
        ev.preventDefault();

        var id = ev.dataTransfer.getData("text");
        var str = '<li>' + insert(id) + '</li>';
        var child = document.createElement('div');
        child.innerHTML = str;
        child = child.firstChild;

        ev.target.appendChild(child);
        ev.stopPropagation();
        saveData(id);
//        document.getElementById("result").innerHTML = id;

        return false;
    }

    function drop(ev) {
        ev.preventDefault();

        if (ev.target.hasChildNodes()){
            ev.stopPropagation();
        }

        else{
            var id = ev.dataTransfer.getData("text");
            var str = insert(id);
            var child = document.createElement('div');
            child.innerHTML = str;
            child = child.firstChild;

            ev.target.appendChild(child);
            ev.stopPropagation();
            saveData(id);
            return false;
        }
    }

    var i = 1;
    function saveData(id) {
        var obj = [];
        obj.push({i, id});
        localStorage.setItem('myStorage', JSON.stringify(obj));
        var data = JSON.parse(localStorage.getItem('myStorage'));
        document.getElementById("result").innerHTML = data;

        i += 1;
    }
    function getdata() {
        var data = JSON.parse(localStorage.getItem('myStorage'));
        document.getElementById("result").innerHTML = data;
    }
