	<div class="row topbar">
		<div class="col-lg-12">
        <h3 id="top">A Visualization Tool for Learning Algorithms and Datastructures</h3>
		</div> 
	</div>
    <div class="col-lg-12 control">
        <button class="btn btn-primary active btn-top" >New</button>
      <button class="btn btn-primary active btn-top" type="submit"><h1>&laquo;</h1></button>
      <button class="btn btn-primary active btn-top" ><h1>&lt;</h1></button>
      <button class="btn btn-primary active btn-top" onclick="readLine()"><h1>&gt;</h1></button>
      <button class="btn btn-primary active btn-top" ><h1>&raquo;</h1></button>
    </div>
